.custom-alert {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  align-items: center;
  background-color: #363636;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.icon-container {
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon svg {
  fill: none;
  stroke: white;
}

.message {
  flex-grow: 1;
}
