.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 10px;
}

.hero-image-container {
  height: 15rem;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}